.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/
.next/
dist/
build/
.vercel/
.expo/

.env
.env.local
.env.*.local
!.env.example

**/ios/Pods/
**/ios/build/
**/ios/.xcode.env.local
**/xcuserdata/
*.xcuserstate

**/supabase/.temp/
